### DataFrame FCC Review Exercises

Practical exercises that closely follow the FreeCodeCamp curriculum to reinforce understanding.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
#Exercise 1 : DataFrame Creation
#create a marvel_df 

data = {
    'name': ['Spider-Man', 'Iron Man', 'Black Widow', 'Captain America', 'Thor'],
    'sex': ['Male', 'Male', 'Female', 'Male', 'Male'],
    'first_appearance': ['1962', '1963', '1964', '1941', '1962']  # using Year-Month format
}

df = pd.DataFrame(data)

# add index names to marvel df
df.index = data['name']

# drop the name column
print(df.drop(columns='name'))

#drop iron man and captain america rows
print(df.drop(["Iron Man","Captain America"]))

                    sex first_appearance
Spider-Man         Male             1962
Iron Man           Male             1963
Black Widow      Female             1964
Captain America    Male             1941
Thor               Male             1962
                    name     sex first_appearance
Spider-Man    Spider-Man    Male             1962
Black Widow  Black Widow  Female             1964
Thor                Thor    Male             1962

In [ ]:
#Exercise 2:DataFrame selection,slicing and indexation

# show the first 3 elements of df
print(df.iloc[0:3])
print(df.loc["Spider-Man":"Black Widow"])

#show the last three elements of df
print(df.iloc[-3:])

#show just the sex of first 3 elements 
print(df.iloc[:3,1])

#show the first_appearance of all middle elements 
print(df.iloc[1:-1,-1])

#show the first and last elements
print(df.iloc[0,-1])

                    name     sex first_appearance
Spider-Man    Spider-Man    Male             1962
Iron Man        Iron Man    Male             1963
Black Widow  Black Widow  Female             1964
                    name     sex first_appearance
Spider-Man    Spider-Man    Male             1962
Iron Man        Iron Man    Male             1963
Black Widow  Black Widow  Female             1964
                            name     sex first_appearance
Black Widow          Black Widow  Female             1964
Captain America  Captain America    Male             1941
Thor                        Thor    Male             1962
Spider-Man       Male
Iron Man         Male
Black Widow    Female
Name: sex, dtype: object
Iron Man           1963
Black Widow        1964
Captain America    1941
Name: first_appearance, dtype: object
1962

In [ ]:
#Exercise 3: DataFrame manipulation and operations

#modify the first_appearance of "iron man" to 1964
df.loc["Iron Man","first_appearance"] = 1964
print(df)

#add a column called "years_since" with the years since first_appearacne
df["years_since"] = 2025 - df["first_appearance"].astype(int)
print(df)

                            name     sex first_appearance
Spider-Man            Spider-Man    Male             1962
Iron Man                Iron Man    Male             1964
Black Widow          Black Widow  Female             1964
Captain America  Captain America    Male             1941
Thor                        Thor    Male             1962
                            name     sex first_appearance  years_since
Spider-Man            Spider-Man    Male             1962           63
Iron Man                Iron Man    Male             1964           61
Black Widow          Black Widow  Female             1964           61
Captain America  Captain America    Male             1941           84
Thor                        Thor    Male             1962           63

In [ ]:
#Exercise 4:DataFram boolean arrays

# Given pandas df above, make a mask showing the female characters
mask = df['sex'] == 'Female'
print(df[mask])

# Given the mdf, get the male characters
male_char = df["sex"] == "Male"
print(df[male_char])

# Get the characters with first_appearance after 1970
appearance = df['first_appearance'].astype(int) > 1970
print(df[appearance])

# Get the female characters with first_aftearance after 1970
appearance_f = df[(df['first_appearance'].astype(int) > 1970) & (df['sex']=="Female")]
print(appearance_f)

                    name     sex first_appearance  years_since
Black Widow  Black Widow  Female             1964           61
                            name   sex first_appearance  years_since
Spider-Man            Spider-Man  Male             1962           63
Iron Man                Iron Man  Male             1964           61
Captain America  Captain America  Male             1941           84
Thor                        Thor  Male             1962           63
Empty DataFrame
Columns: [name, sex, first_appearance, years_since]
Index: []
Empty DataFrame
Columns: [name, sex, first_appearance, years_since]
Index: []

In [ ]:
# Exercise 5:DataFrame summary statistics

# Show the min value of first_appearance
print(df['first_appearance'].astype(int).min())

# Get the characters with the min value of first appearance
min_val = df['first_appearance'].astype(int).min()
print(df[df['first_appearance']==min_val])

1941
Empty DataFrame
Columns: [name, sex, first_appearance, years_since]
Index: []