### FCC Numpy Practice

Hands-on code based on the FCC Data Analysis Course for Pandas.

1. SERIES

In [31]:
#1. importing pandas 
import pandas as pd

In [32]:
# Creating Series in Pandas

s1 = pd.Series([1,2,3,4,5]) #without index
s2 = pd.Series({"a":1,"b":2,"c":3}) #with index

#we can also add index in this way:
s1.index = ["one","two","three","four","five"]
print(s1)
print(s2)

#naming the series 
s1.name = "Number of students"
print(s1)

one      1
two      2
three    3
four     4
five     5
dtype: int64
a    1
b    2
c    3
dtype: int64
one      1
two      2
three    3
four     4
five     5
Name: Number of students, dtype: int64

In [33]:
#Indexing and slicing

#index based - iloc
print(s2.iloc[0])    #first elem
print(s2.iloc[-1])   #last elem

#NOTE - in iloc based indexing the stop value is excluded

print(s2.iloc[1:3])  #positive slicing
print(s2.iloc[:-1]) #negative slicing


#label based - loc
print(s2.loc["a"])
print(s1[["one","four"]])

#NOTE - in loc based indexing the stop value is also included

print(s1.loc["two":"four"])
print(s2.loc["a":"c"])

1
3
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64
1
one     1
four    4
Name: Number of students, dtype: int64
two      2
three    3
four     4
Name: Number of students, dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
#conditional selection in series
s1 >= 3
print(s1[s1 >=3])

#more than one condition
result = s1[(s1>2) & (s1<4)]
print(result)

three    3
four     4
five     5
Name: Number of students, dtype: int64
three    3
Name: Number of students, dtype: int64

In [ ]:
# Modifying the series
s1.iloc[0] = 10
s2.loc["b"] = "banana"
s1[(s1>2) & (s1<4)] = 100

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_23608\2259805720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'banana' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s2.loc["b"] = "banana"

2. DATAFRAME

In [37]:
#creating a dataframe

df = pd.DataFrame({
    "Population" : [35.46,63.95,80.94,60.66],
    "GDP" : [1785387,2834561,2345691,3459081],
    "HDI": [0.914,0.888,0.916,0.873],
    "Continent": ["America","Europe","Europe","Europe"]
})

df.index = ["Canada","France","Germany","Italy"]

print(df)

         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe

In [ ]:
print(df.head()) #first 5 rows
print(df.columns) #column names
print(df.dtypes) #datatypes
print(df.info) #info about df
print(df.describe) #statistical summary
print(df.size) #total number of elements

         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
Index(['Population', 'GDP', 'HDI', 'Continent'], dtype='object')
Population    float64
GDP             int64
HDI           float64
Continent      object
dtype: object
<bound method DataFrame.info of          Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe>
<bound method NDFrame.describe of          Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe>

In [ ]:
# Indexing, Slicing and Selection

print(df.loc["Canada"])     #row 1 will be printed
print(df.iloc[0])           #row 1 will be printed
print(df["Population"])     #population column will be printed
print(df[["HDI","GDP"]])    #multiple column selection

print(df[1:3])
print(df.loc["France":"Italy"])
print(df.loc["France":"Italy",["Population","GDP"]])
print(df.iloc[1:3,2])
print(df.iloc[1:3,[0,3]])

Population      35.46
GDP           1785387
HDI             0.914
Continent     America
Name: Canada, dtype: object

         Population Continent
France        63.95    Europe
Germany       80.94    Europe

In [44]:
#conditional selection

print(df.loc[df['Continent'] == "Europe"])
print(df.loc[df['HDI']>0.90])

         Population      GDP    HDI Continent
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
Germany       80.94  2345691  0.916    Europe

In [46]:
#dropping columns or rows

print(df.drop("Canada")) #does not alter the main df
print(df.drop(columns="Population"))

print(df.drop(columns=["HDI","GDP"], index=["Germany","Italy"]))

         Population      GDP    HDI Continent
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
             GDP    HDI Continent
Canada   1785387  0.914   America
France   2834561  0.888    Europe
Germany  2345691  0.916    Europe
Italy    3459081  0.873    Europe
        Population Continent
Canada       35.46   America
France       63.95    Europe

In [47]:
#adding a column to df

langs = pd.Series({
    "Canada": "Canadian",
    "France": "Franzosich",
    "Germany": "Deutsch",
    "Italy": "Italian"
}, name="Languages")
df["Language"]= langs
df

         Population      GDP    HDI Continent    Language
Canada        35.46  1785387  0.914   America    Canadian
France        63.95  2834561  0.888    Europe  Franzosich
Germany       80.94  2345691  0.916    Europe     Deutsch
Italy         60.66  3459081  0.873    Europe     Italian

In [48]:
#renaming columns

df.rename(columns={"Population":"Pop"},index={"Italy":"Argentina"})
print(df)

         Population      GDP    HDI Continent    Language
Canada        35.46  1785387  0.914   America    Canadian
France        63.95  2834561  0.888    Europe  Franzosich
Germany       80.94  2345691  0.916    Europe     Deutsch
Italy         60.66  3459081  0.873    Europe     Italian

3. Handling missing data with pandas

In [ ]:
import pandas as pd
import numpy as np

data = {
    'name': ['Spider-Man', 'Iron Man', 'Black Widow', None, 'Thor'],
    'sex': ['Male', 'Male', None, 'Female', 'Male'],
    'first_appearance': ['1962-08', None, '1964-04', '1941-03', np.nan]
}

df = pd.DataFrame(data)

print(df)

#detecting null values (isna,isnull)
print(pd.isna(df).sum())
print(pd.isnull(df).sum())

# opposite of detecting the null values (notna,notnull)
print(pd.notna(df).sum())
print(pd.notnull(df).sum())

          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male             None
2  Black Widow    None          1964-04
3         None  Female          1941-03
4         Thor    Male              NaN
name                1
sex                 1
first_appearance    2
dtype: int64
name                1
sex                 1
first_appearance    2
dtype: int64
name                4
sex                 4
first_appearance    3
dtype: int64
name                4
sex                 4
first_appearance    3
dtype: int64
          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male              NaN
2  Black Widow     NaN          1964-04
3          NaN  Female          1941-03
4         Thor    Male              NaN
   name   sex first_appearance
0   NaN   NaN              NaN
1   NaN   NaN             None
2   NaN  None              NaN
3  None   NaN              NaN
4   NaN   NaN              NaN

In [23]:
# Pandas Operations with Missing Values

s1 = pd.Series([90,70,np.nan,30,20])

print(s1.count())
print(s1.sum())
print(s1.mean())
print(s1.max())
print(s1.min())

4
210.0
52.5
90.0
20.0

In [ ]:
# Dropping the null values

print(df.dropna())   #drop all the rows having null values
print(df.dropna(axis=1))  #drop all the columns having null values

# we can control the drop behavior using how attribute
print(df.dropna(how='all'))   #drops the row only if all the values will be false
print(df.dropna(how='any'))   #drops the row even if one value is null

print(df.dropna(axis='columns',how='all')) #drop the column only if all the values are false

#we can also provide a specific number of non-nulls using thresh attribute
print(df.dropna(thresh=4,axis='columns'))

         name   sex first_appearance
0  Spider-Man  Male          1962-08
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]
          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male             None
2  Black Widow    None          1964-04
3         None  Female          1941-03
4         Thor    Male              NaN
         name   sex first_appearance
0  Spider-Man  Male          1962-08
          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male             None
2  Black Widow    None          1964-04
3         None  Female          1941-03
4         Thor    Male              NaN
column dropped
          name     sex
0   Spider-Man    Male
1     Iron Man    Male
2  Black Widow    None
3         None  Female
4         Thor    Male

In [ ]:
# Filling the missing data in Series

s = pd.Series(['Ajay','Vijay',np.nan,'Sanjay',np.nan])
print(s.isnull().sum())

#filling the missing data using fillna
print(s.fillna('Unknown'))

#we can also fill the data using methods like ffill and bfill
print(s.fillna(method='ffill'))
print(s.fillna(method='bfill')) 
#NOTE! it is not necessary that using ffill or bfill will handle all the null values

2
0       Ajay
1      Vijay
2    Unknown
3     Sanjay
4    Unknown
dtype: object
0      Ajay
1     Vijay
2     Vijay
3    Sanjay
4    Sanjay
dtype: object
0      Ajay
1     Vijay
2    Sanjay
3    Sanjay
4       NaN
dtype: object

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_24908\2056399038.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method='ffill'))
C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_24908\2056399038.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method='bfill'))

In [ ]:
# Filling the missing data in DataFrame

data = {
    'name': ['Spider-Man', 'Iron Man', 'Black Widow', None, 'Thor'],
    'sex': ['Male', 'Male', None, 'Female', 'Male'],
    'first_appearance': ['1962-08', None, '1964-04', '1941-03', np.nan]
}

df = pd.DataFrame(data)

#populating all the null values using 0
print(df.fillna(0))

#populate the specific column with a specific value then-
print(df.fillna({'name':'unknown','sex':'other','first_appearance':2005}))

#using methods - ffill/bfill
print(df.fillna(method='bfill',axis=1))
print(df.fillna(method='ffill',axis=0))
#(it is not necessary that these methods will handle all the null values)

          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male                0
2  Black Widow       0          1964-04
3            0  Female          1941-03
4         Thor    Male                0
          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male             2005
2  Black Widow   other          1964-04
3      unknown  Female          1941-03
4         Thor    Male             2005
          name      sex first_appearance
0   Spider-Man     Male          1962-08
1     Iron Man     Male             None
2  Black Widow  1964-04          1964-04
3       Female   Female          1941-03
4         Thor     Male              NaN
          name     sex first_appearance
0   Spider-Man    Male          1962-08
1     Iron Man    Male          1962-08
2  Black Widow    Male          1964-04
3  Black Widow  Female          1941-03
4         Thor    Male          1941-03

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_24908\409529010.py:16: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill',axis=1))
C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_24908\409529010.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill',axis=0))

4. Cleaning Not Null Values

In [63]:
df = pd.DataFrame({
    'Sex': ['M', 'F', 'F', 'D', '?'],
    'Age': [29, 30, 24, 290, 25],
})

#finding the unique values in the df
print(df['Sex'].unique())

#finding the count of each value
print(df['Sex'].value_counts())

#finding the number of unique values
print(df['Sex'].nunique())

#replacing the incorrect value of sex
print(df['Sex'].replace({'D':'F','?':'M'}))

#correcting the age
df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10
print(df)

['M' 'F' 'D' '?']
Sex
F    2
M    1
D    1
?    1
Name: count, dtype: int64
4
0    M
1    F
2    F
3    F
4    M
Name: Sex, dtype: object
  Sex  Age
0   M   29
1   F   30
2   F   24
3   D   29
4   ?   25

5. Handling Duplicate Values

In [ ]:
#Duplicates in Series
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'Gérard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth '
])

#finding the duplicate values in the Series
print(ambassadors.duplicated())

#if we want to keep the recent duplicated value then we can use keep attribut
print(ambassadors.duplicated(keep='last'))

#if we donot want to keep any value of the same kind then use keep=False
print(ambassadors.duplicated(keep=False))

#dropping the duplicate values
ambassadors.drop_duplicates()
ambassadors.drop_duplicates(keep='last')
ambassadors.drop_duplicates(keep=False)

#Duplicates in DataFrame

players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant',
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

#finding the duplicate values in df
print(players.duplicated())

#finding duplicates in a specific column
print(players.duplicated(subset=['Name']))
print(players.duplicated(subset=['Name'], keep='last'))

#dropping the duplicates of a specific column
players.drop_duplicates(subset=['Name'])
players.drop_duplicates(subset=['Name'], keep='last')

3