### FCC Numpy Practice

Hands-on code based on the FCC Data Analysis Course for Pandas.

In [1]:
#1. importing pandas 
import pandas as pd

In [3]:
# Creating Series in Pandas

s1 = pd.Series([1,2,3,4,5]) #without index
s2 = pd.Series({"a":1,"b":2,"c":3}) #with index

#we can also add index in this way:
s1.index = ["one","two","three","four","five"]
print(s1)
print(s2)

#naming the series 
s1.name = "Number of students"
print(s1)

one      1
two      2
three    3
four     4
five     5
dtype: int64
a    1
b    2
c    3
dtype: int64
one      1
two      2
three    3
four     4
five     5
Name: Number of students, dtype: int64

In [10]:
#Indexing and slicing

#index based - iloc
print(s2.iloc[0])    #first elem
print(s2.iloc[-1])   #last elem

#NOTE - in iloc based indexing the stop value is excluded

print(s2.iloc[1:3])  #positive slicing
print(s2.iloc[:-1]) #negative slicing


#label based - loc
print(s2.loc["a"])
print(s1[["one","four"]])

#NOTE - in loc based indexing the stop value is also included

print(s1.loc["two":"four"])
print(s2.loc["a":"c"])

1
3
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64
1
one     1
four    4
Name: Number of students, dtype: int64
two      2
three    3
four     4
Name: Number of students, dtype: int64
a    1
b    2
c    3
dtype: int64

In [14]:
#conditional selection in series
s1 >= 3
print(s1[s1 >=3])

#more than one condition
result = s1[(s1>2) & (s1<4)]
print(result)

three    3
four     4
five     5
Name: Number of students, dtype: int64
three    3
Name: Number of students, dtype: int64

In [15]:
# Modifying the series
s1.iloc[0] = 10
s2.loc["b"] = "banana"
s1[(s1>2) & (s1<4)] = 100

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_12768\2259805720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'banana' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s2.loc["b"] = "banana"