### FCC Numpy Practice

Hands-on code based on the FCC Data Analysis Course for Pandas.

1. SERIES

In [31]:
#1. importing pandas 
import pandas as pd

In [32]:
# Creating Series in Pandas

s1 = pd.Series([1,2,3,4,5]) #without index
s2 = pd.Series({"a":1,"b":2,"c":3}) #with index

#we can also add index in this way:
s1.index = ["one","two","three","four","five"]
print(s1)
print(s2)

#naming the series 
s1.name = "Number of students"
print(s1)

one      1
two      2
three    3
four     4
five     5
dtype: int64
a    1
b    2
c    3
dtype: int64
one      1
two      2
three    3
four     4
five     5
Name: Number of students, dtype: int64

In [33]:
#Indexing and slicing

#index based - iloc
print(s2.iloc[0])    #first elem
print(s2.iloc[-1])   #last elem

#NOTE - in iloc based indexing the stop value is excluded

print(s2.iloc[1:3])  #positive slicing
print(s2.iloc[:-1]) #negative slicing


#label based - loc
print(s2.loc["a"])
print(s1[["one","four"]])

#NOTE - in loc based indexing the stop value is also included

print(s1.loc["two":"four"])
print(s2.loc["a":"c"])

1
3
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64
1
one     1
four    4
Name: Number of students, dtype: int64
two      2
three    3
four     4
Name: Number of students, dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
#conditional selection in series
s1 >= 3
print(s1[s1 >=3])

#more than one condition
result = s1[(s1>2) & (s1<4)]
print(result)

three    3
four     4
five     5
Name: Number of students, dtype: int64
three    3
Name: Number of students, dtype: int64

In [ ]:
# Modifying the series
s1.iloc[0] = 10
s2.loc["b"] = "banana"
s1[(s1>2) & (s1<4)] = 100

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_23608\2259805720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'banana' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s2.loc["b"] = "banana"

2. DATAFRAME

In [37]:
#creating a dataframe

df = pd.DataFrame({
    "Population" : [35.46,63.95,80.94,60.66],
    "GDP" : [1785387,2834561,2345691,3459081],
    "HDI": [0.914,0.888,0.916,0.873],
    "Continent": ["America","Europe","Europe","Europe"]
})

df.index = ["Canada","France","Germany","Italy"]

print(df)

         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe

In [ ]:
print(df.head()) #first 5 rows
print(df.columns) #column names
print(df.dtypes) #datatypes
print(df.info) #info about df
print(df.describe) #statistical summary
print(df.size) #total number of elements

         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
Index(['Population', 'GDP', 'HDI', 'Continent'], dtype='object')
Population    float64
GDP             int64
HDI           float64
Continent      object
dtype: object
<bound method DataFrame.info of          Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe>
<bound method NDFrame.describe of          Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe>

In [ ]:
# Indexing, Slicing and Selection

print(df.loc["Canada"])     #row 1 will be printed
print(df.iloc[0])           #row 1 will be printed
print(df["Population"])     #population column will be printed
print(df[["HDI","GDP"]])    #multiple column selection

print(df[1:3])
print(df.loc["France":"Italy"])
print(df.loc["France":"Italy",["Population","GDP"]])
print(df.iloc[1:3,2])
print(df.iloc[1:3,[0,3]])

Population      35.46
GDP           1785387
HDI             0.914
Continent     America
Name: Canada, dtype: object

         Population Continent
France        63.95    Europe
Germany       80.94    Europe

In [44]:
#conditional selection

print(df.loc[df['Continent'] == "Europe"])
print(df.loc[df['HDI']>0.90])

         Population      GDP    HDI Continent
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
         Population      GDP    HDI Continent
Canada        35.46  1785387  0.914   America
Germany       80.94  2345691  0.916    Europe

In [46]:
#dropping columns or rows

print(df.drop("Canada")) #does not alter the main df
print(df.drop(columns="Population"))

print(df.drop(columns=["HDI","GDP"], index=["Germany","Italy"]))

         Population      GDP    HDI Continent
France        63.95  2834561  0.888    Europe
Germany       80.94  2345691  0.916    Europe
Italy         60.66  3459081  0.873    Europe
             GDP    HDI Continent
Canada   1785387  0.914   America
France   2834561  0.888    Europe
Germany  2345691  0.916    Europe
Italy    3459081  0.873    Europe
        Population Continent
Canada       35.46   America
France       63.95    Europe

In [47]:
#adding a column to df

langs = pd.Series({
    "Canada": "Canadian",
    "France": "Franzosich",
    "Germany": "Deutsch",
    "Italy": "Italian"
}, name="Languages")
df["Language"]= langs
df

         Population      GDP    HDI Continent    Language
Canada        35.46  1785387  0.914   America    Canadian
France        63.95  2834561  0.888    Europe  Franzosich
Germany       80.94  2345691  0.916    Europe     Deutsch
Italy         60.66  3459081  0.873    Europe     Italian

In [48]:
#renaming columns

df.rename(columns={"Population":"Pop"},index={"Italy":"Argentina"})
print(df)

         Population      GDP    HDI Continent    Language
Canada        35.46  1785387  0.914   America    Canadian
France        63.95  2834561  0.888    Europe  Franzosich
Germany       80.94  2345691  0.916    Europe     Deutsch
Italy         60.66  3459081  0.873    Europe     Italian